__pycache__/
.cache/
.pytest_cache
.idea/
.vscode/
guidance.ipynb
.checkpoints/
results/
runtime.log
*.log
.cache_dataset/
adbench.tar.gz
global_ds_cache.tar.gz
.cache_dataset.error/
*.npz
result/
wandb/
.cache_dataset_old_a40_0422/
backups/
*.tar.gz
*.tar.xz
*.xz
useless_tries/
WSADBench/datasets/CV*
WSADBench/datasets/Classical
WSADBench/datasets/NLP*
run_adbench_wsad_baseline.py
implementing
source_datasets
WSADBench/model_configs/video/tmp_settings
WSADBench/model_configs/tabular/tmp_settings
apex
XCLIP
CLIP-main
utils_umil
checkpoints
datasets_process
ckpt
UMIL.main.py
catboost_info
MALLORN
notebook
LimiX
*.ipynb
.gitignore
