# === Core Data Science ===
numpy==1.26.4             #  prevent numpy 2.0 compatibility issues
pandas==2.3.3
scikit-learn==1.6.1
scipy
tqdm==4.67.1
matplotlib
openpyxl==3.1.5         # Used to save Excel results
xlrd==2.0.1

# === Machine Learning Baselines ===
pyod==1.0.1
lightgbm==4.6.0
xgboost==2.1.4
catboost==1.2.8
tabpfn==6.2.0           # TabPFN

# === Weak Supervision / Data Quality ===
cleanlab==2.7.1

# === Deep Learning Helpers ===
pytorchvideo==0.1.5     # Video processing dependency
einops                  # Commonly used in video/CV models
delu==0.0.26
fsspec==2025.3.0

# === Utilities ===
PyYAML>=6.0             # Required for parsing config files
wget==3.2
copulas
modelscope  # pull data